@page "/"

@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<PageTitle>IMS</PageTitle>
<br />
<h1>Inventory Management System</h1>

<ul>
    @foreach(var inv in _inventories)
    {
        <li>
            @inv.InventoryName
        </li>
    }


</ul>

@code{
    private List<Inventory> _inventories = new List<Inventory>();

    protected override async Task OnInitializedAsync()
    {
        _inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync("body")).ToList();       
    }
}


